.page-title {
  color: #00205b;
  font-size: 20px;
  /* margin-bottom: 15px; */
}

.divider {
  height: 2px;
  background-color: #e0e0e0;
  margin-bottom: 20px;
}

/* Form styles */
.form-container {
  text-align: center;
  width: 100%;
}

.form-container h2 {
  margin-bottom: 20px; /* Ensures space between h2 and form */
}

.add-room-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 800px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Centering */
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
  transition: 0.3s;
}

.form-control:focus {
  border-color: #00205b;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 32, 91, 0.2);
}

textarea.form-control {
  resize: vertical;
  min-height: 80px;
}

.submit-btn {
  background-color: #00205b;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 12px 20px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.submit-btn:hover {
  background-color: #001845;
}
