.dashboard {
  /* max-width: 1100px; */
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #2c3e50;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 30px;
  color: #34495e;
}

.dashboard-section {
  margin-bottom: 50px;
}

.dashboard-section h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #2d3436;
  border-left: 5px solid #3498db;
  padding-left: 10px;
}

.dashboard-table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  background-color: #fff;
  border-radius: 8px;
}

.dashboard-table thead {
  background-color: #3498db;
  color: white;
}

.dashboard-table th,
.dashboard-table td {
  padding: 14px 16px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.dashboard-table tbody tr:hover {
  background-color: #f2f2f2;
}

.dashboard-section.user-info {
  background-color: #fdfdfd;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px 30px;
  margin: 0 auto 30px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  width: 70%;
}
.userData {
  align-items: center;
}
.dashboard-section.user-info h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #333;
}

.dashboard-section.user-info p {
  margin: 8px 0;
  font-size: 16px;
  color: #555;
  text-justify: center;
  text-align: left;
}

.dashboard-section.user-info strong {
  color: #222;
}
