/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #f8f9fa;
}

.app-container {
  min-height: 100vh;
}

/* Main content styles */
.main-content {
  display: flex;
  /* padding: 0 20px 20px; */
}

/* Filter bar styles */
.filter-bar {
  position: absolute;
  right: 1px;
  padding: 20px 0;
  margin-bottom: 10px;
}

.filter-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  font-weight: 500;
}

.filter-btn svg {
  margin-right: 5px;
}

.main-body {
  width: 100%;
  margin: 50px;
  justify-content: center;
  padding: 20px;
}

.property-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.property-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}

.property-card:hover {
  transform: translateY(-5px);
}

.property-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.property-address,
.property-amenities,
.property-capacity {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 5px;
}

.property-ratings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.stars-container {
  display: flex;
}

.average-rating {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.property-feedback {
  margin-top: 10px;
}

.feedback-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.feedback-item {
  background: #f9f9f9;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.no-feedback {
  color: #888;
  font-size: 0.9rem;
}

.stars-container {
  display: flex;
}

.star {
  color: #ddd;
  margin-right: 2px;
}

.star.filled {
  color: #ffc107;
}

.star.half-filled {
  position: relative;
  color: #ddd;
}

.star.half-filled:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #ffc107;
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

/* Responsive Design */
@media (max-width: 1024px) {
  .property-grid {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }
}

/* Responsive adjustments */
@media (max-width: 900px) {
  /* .app-container {
    flex-direction: column;
  } */

  .property-grid {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }
}
